.background1 {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/013/498/821/large/saby-menyhei-hogwartsinthesnow-final.jpg?1539869271);
  background-position: center;
  background-size: cover;
}

.card-dark {
  background: darkslategrey;
  padding: 10px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 20px;
}
.background-color-yellow {
  background: yellow;
  justify-content: space-around;
}
.navbar {
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}
.empty-box {
  background: whitesmoke;
}
.logo-bottom {
  display: flex;
  justify-content: center;
  background-image: url(http://giphygifs.s3.amazonaws.com/media/CkBzt6qXCCXw4/giphy.gif);
  padding: 25px;
  margin: 10px 0 0 0;
}
.bg-black {
  background: black;
  height: 12vh;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: 5px;
}
.button-color {
  border-style: solid;
  border-color: black;
}
